@model List<Livro>

@{
    Layout = "_LayoutPanel";
}

<link href="~/css/global/lists.css" rel="stylesheet" />

<div class="header-table">
    <div class="wrapper-content-title">
        <i class="fa fa-book"></i>
        <h6>Nosso Acervo</h6>
    </div>
</div>

<div id="title-table-divisor" class="divisor"></div>

<form asp-action="Index">
    <div class="select-container">
        <div class="div-select">
            <select name="filtro">
                <option>Todos os campos</option>
                <option value="Assunto1">Assunto 1</option>
                <option value="Assunto2">Assunto 2</option>
                <option value="Titulo">Título</option>
                <option value="Autor">Autor</option>
                <option value="Tombo">Tombo</option>
                <option value="Serie">Serie</option>
            </select>
        </div>

        <div class="wrapper-content-search">
            <div class="container-1">
                <input name="campo" type="search" id="search" placeholder="Pesquisar um livro..." />
                <button class="btn-search"><i id="btn-search-icon" class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</form>

<table class="styled-table">
    <thead>
        <tr>
            <th scope="col">Nº. Tombo</th>
            <th scope="col">Título</th>
            <th scope="col">Autor</th>
            <th scope="col">Assunto</th>
            <th scope="col">Assunto 2</th>
            <th scope="col">Exemplares</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var livro in Model)
            {
                <tr>
                    <td>@livro.Tombo</td>
                    <td>@livro.Titulo</td>
                    <td>@livro.Autor</td>
                    <td>@livro.Categoria</td>
                    <td>@livro.Categoria2</td>  
                    <td>@livro.Exemplares</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@livro.LivrosId"><i class="fas fa-pen"></i></a>
                        <a asp-action="Delete" asp-route-id="@livro.LivrosId"><i class="fas fa-minus"></i></a>
                        <a asp-action="Tag"><i class="fas fa-tag"></i></a>
                        @*<a asp-action="Capa" asp-route-id="@livro.LivrosId"><i class="fas fa-image"></i></a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>